:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
    --size: 400px;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
}

img {
    height: var(--size);
    display: block;
    margin: 3em auto 0;
    background-color: var(--base);
    padding: var(--spacing);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}

/* Typography */

h1 {
    font-weight: 700;
    font-size: 3rem;
}

